<h3><div class="p-3 mb-2 bg-dark text-info">Clientes  

</div></h3>
<br>
<br>
<br>
<br>
<br>
<div class="container col-md-8">
    <img src="https://i.pinimg.com/564x/e8/22/75/e822754748b833d759c71061533b98a6.jpg" width="300" height="250" class='imgRedonda' />
<div class="row">
    <table class="table table-hover">
    <thead>
        <tr>
        <td scope="col">Id</td>
        <td scope="col">Nombre</td>
        <td scope="col">Celular</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of list ">
            <td>{{user.id}}</td>
            <td>{{user.primerNombre}}</td>
            <td>{{user.celular}}</td>
        </tr>
    </tbody>
</table>
</div>
<input type="button" value='eliminar' (click)="dirigir()"class="btn btn-outline-danger">
<input type="button" value='editar' (click)="redirigir()" class="btn btn-outline-primary">


