<div class="section section-dark">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</div>
<div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 class="title">Bienvenido</h3>
                    
                    <form class="register-form">
                        <label>Nombre</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                            </span>
                          </div>
                          
                            <input type="text" class="form-control" [(ngModel)]="usuario" name="user" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                        </div>
                        <label>Email</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                          </div>
                          
                            <input type="text" class="form-control" [(ngModel)]="correo" name="mail" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                        </div>

                        <label>Contraseña</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                            </span>
                          </div>
                            <input type="password" class="form-control" [(ngModel)]="clave" name="calve" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                        </div>
                        <div>
                            <select [(ngModel)]="rol" name="rol">
                                <option [ngValue]="roles" *ngFor ="let roles of lista">{{roles.nombreRol}}</option>
                            </select>
                          </div>
                        <button class="btn btn-danger btn-block btn-round" (click)="login()">Ingresar</button>
                    </form>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>